
.bar {
    color: red;
    background-color: black;
}

.login {
    color: white;
    font-size: 20px;
    margin-left: 90%;
    text-decoration: none;
    display: flex;
    position: absolute;
}
.login:hover {
    color: purple;
}

.search {
    position: absolute;
    margin-left: 60%;
    text-align: center;
    display: flex;
}
.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }