.MuiAppBar-colorPrimary {
    color: red;
    background-color: black;
}

.login {
    color: white;
    font-size: 20px;
    margin-left: 90%;
    margin-top: 15px;
    text-decoration: none;
    display: flex;
    position: absolute;
}
.login:hover {
    color: blue;
}