
.bar {
    color: red;
    background-color: black;
}

.login {
    color: white;
    font-size: 20px;
    margin-left: 90%;
    text-decoration: none;
    display: flex;
    position: relative;
    float: right;
}
.login:hover {
    color: red;
}

.search {
    position: relative;
    margin-left: 85%;
    text-align: center;
    display: flex;
    color: white;
    float: right;
}
