.App {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
  .search-container {
    width: 280px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: -18.5px 0px 0px 300px;
  }
  
  .dropdown {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    color: black;
  }
  
  .dropdown:empty {
    border: none;
  }
  
  .dropdown-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
  }
  
  input {
    width: 220px;
  }
  
  .search-inner {
    display: flex;
  }
  